In [1]:
import requests
import pandas as pd
from env import api_key
from acquire import get_data, extract_date_and_price
from datetime import timedelta, datetime

In [3]:
df = get_data()

In [4]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1260 entries, 2017-01-09 to 2022-01-07
Data columns (total 164 columns):
 #    Column       Dtype
---   ------       -----
 0    VORB_price   float64
 1    LCID_price   float64
 2    BEKE_price   float64
 3    EGRNF_price  float64
 4    DISCK_price  float64
 5    EXAI_price   float64
 6    INPOY_price  float64
 7    DISCA_price  float64
 8    ESBA_price   float64
 9    TUYA_price   float64
 10   ZGN_price    float64
 11   PDD_price    float64
 12   VIACA_price  float64
 13   CIG-C_price  float64
 14   DLO_price    float64
 15   SBGI_price   float64
 16   EGFEF_price  float64
 17   VIAC_price   float64
 18   VIPS_price   float64
 19   GME_price    float64
 20   AA_price     float64
 21   FUTU_price   float64
 22   ARGGY_price  float64
 23   CIADY_price  float64
 24   EGFEY_price  float64
 25   ACH_price    float64
 26   KC_price     float64
 27   CIAFF_price  float64
 28   HRSHF_price  float64
 29   USNZY_price  float64
 30   DKNG_price   float64
 31   SKFRY_price  float64
 32   CVI_price    float64
 33   SPCE_price   float64
 34   LUMN_price   float64
 35   VALE_price   float64
 36   HIMX_price   float64
 37   EVGRF_price  float64
 38   SID_price    float64
 39   PTR_price    float64
 40   AEG_price    float64
 41   LMND_price   float64
 42   PAX_price    float64
 43   AHCHY_price  float64
 44   BCLYF_price  float64
 45   PNGAY_price  float64
 46   DRH_price    float64
 47   CTRA_price   float64
 48   WF_price     float64
 49   VLRS_price   float64
 50   ACDVF_price  float64
 51   CAIXY_price  float64
 52   ESMT_price   float64
 53   PTON_price   float64
 54   BZ_price     float64
 55   TCNNF_price  float64
 56   HST_price    float64
 57   GKOS_price   float64
 58   EQT_price    float64
 59   NXE_price    float64
 60   ENLC_price   float64
 61   CIHKY_price  float64
 62   EGIEY_price  float64
 63   IQ_price     float64
 64   UTZ_price    float64
 65   DISH_price   float64
 66   NVAX_price   float64
 67   PEB_price    float64
 68   TECK_price   float64
 69   UWMC_price   float64
 70   CD_price     float64
 71   SSU_price    float64
 72   FCNCA_price  float64
 73   BDRBF_price  float64
 74   KMPR_price   float64
 75   MNSO_price   float64
 76   CCJ_price    float64
 77   PK_price     float64
 78   VERX_price   float64
 79   CIT_price    float64
 80   ULCC_price   float64
 81   CRZBY_price  float64
 82   NCLH_price   float64
 83   NKLA_price   float64
 84   GO_price     float64
 85   NHYDY_price  float64
 86   RCL_price    float64
 87   ABNB_price   float64
 88   PBCRY_price  float64
 89   HLPPY_price  float64
 90   MRRTY_price  float64
 91   CHKP_price   float64
 92   MT_price     float64
 93   ARVL_price   float64
 94   FSLY_price   float64
 95   VRNOF_price  float64
 96   TEVA_price   float64
 97   CCL_price    float64
 98   RYAAY_price  float64
 99   BPAQF_price  float64
 100  FNMAK_price  float64
 101  HKXCY_price  float64
 102  RPRX_price   float64
 103  CURLF_price  float64
 104  CHK_price    float64
 105  HDB_price    float64
 106  PGR_price    float64
 107  AAL_price    float64
 108  WU_price     float64
 109  CGC_price    float64
 110  AB_price     float64
 111  SPR_price    float64
 112  DADA_price   float64
 113  IVPAF_price  float64
 114  IFS_price    float64
 115  CAG_price    float64
 116  SHLS_price   float64
 117  BHP_price    float64
 118  LW_price     float64
 119  PILBF_price  float64
 120  NGLOY_price  float64
 121  FBP_price    float64
 122  W_price      float64
 123  VEOEY_price  float64
 124  CZR_price    float64
 125  BBL_price    float64
 126  BSM_price    float64
 127  SAM_price    float64
 128  DAL_price    float64
 129  TRMLF_price  float64
 130  UAL_price    float64
 131  MTG_price    float64
 132  JKS_price    float64
 133  CFLT_price   float64
 134  CNQ_price    float64
 135  FCX_price    float64
 136  ITUB_price   float64
 137  THS_price    float64
 138  LRENY_price  float64
 139  BGS_price    float64
 140  ZIP_price    float64
 141  BALY_price   float64
 142  PCG_price    float64
 143  CUK_price    float64
 144  NMIH_price   float64
 145  SAVE_price   float64
 146  CAH_price    float64
 147  FSUGY_price  float64
 148  LUV_price    float64
 149  PGRE_price   float64
 150  FRSH_price   float64
 151  TDS_price    float64
 152  BRZE_price   float64
 153  SBSW_price   float64
 154  JHG_price    float64
 155  RIO_price    float64
 156  XMTR_price   float64
 157  NLSN_price   float64
 158  DNBBY_price  float64
 159  MMLTF_price  float64
 160  BXSL_price   float64
 161  MAKSY_price  float64
 162  BEN_price    float64
 163  NXST_price   float64
dtypes: float64(164)
memory usage: 1.6 MB

In [5]:
df

,VORB_price,LCID_price,BEKE_price,EGRNF_price,DISCK_price,EXAI_price,INPOY_price,DISCA_price,ESBA_price,TUYA_price,...,JHG_price,RIO_price,XMTR_price,NLSN_price,DNBBY_price,MMLTF_price,BXSL_price,MAKSY_price,BEN_price,NXST_price
date,,,,,,,,,,,,,,,,,,,,,
2017-01-09,NaN,NaN,NaN,0.69,26.25,NaN,NaN,26.87,19.65,NaN,...,NaN,38.36,NaN,42.36,15.628,0.214,NaN,8.21,40.31,60.40
2017-01-10,NaN,NaN,NaN,NaN,25.76,NaN,NaN,26.34,19.90,NaN,...,NaN,41.00,NaN,41.75,15.501,NaN,NaN,8.26,40.40,60.45
2017-01-11,NaN,NaN,NaN,NaN,25.99,NaN,NaN,26.51,19.63,NaN,...,NaN,41.70,NaN,41.59,15.510,NaN,NaN,8.34,40.75,65.00
2017-01-12,NaN,NaN,NaN,NaN,26.65,NaN,NaN,27.20,19.71,NaN,...,NaN,42.13,NaN,42.01,15.737,NaN,NaN,8.44,40.48,64.85
2017-01-13,NaN,NaN,NaN,0.69,26.82,NaN,NaN,27.40,19.68,NaN,...,NaN,42.04,NaN,42.36,15.810,NaN,NaN,8.28,40.50,63.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-03,7.30,40.93,19.72,0.20,24.59,20.31,6.18,25.33,9.29,5.77,...,41.98,66.73,53.92,21.11,23.030,0.315,31.33,6.27,33.41,153.41
2022-01-04,6.83,39.41,17.60,0.21,25.94,20.61,5.70,26.75,9.51,5.70,...,42.36,67.52,53.75,21.39,23.080,0.320,31.00,6.49,34.22,151.97
2022-01-05,6.29,36.68,17.09,NaN,25.68,18.57,5.84,26.45,9.42,4.90,...,40.89,68.71,51.54,20.48,22.950,NaN,30.32,6.70,33.86,149.14
2022-01-06,6.49,38.22,18.93,0.21,25.12,18.19,5.75,25.72,10.08,4.92,...,41.54,70.04,53.87,20.36,23.050,0.320,29.95,6.81,34.10,150.80
2022-01-07,8.06,41.98,20.87,0.24,29.34,20.06,6.84,30.06,11.16,5.44,...,42.85,72.24,55.56,21.00,23.770,0.330,30.86,7.02,35.16,155.33